
.chatRoom {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 85vh;
    border: 2px solid #7e7e80;
    border-top: none;
}
.sidebar {
    font-size: 1.2em;
    padding-left: 20px;
    margin: 0 auto;
    width: 35%;
    min-width: 200px;
}

.messages {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    min-width: 400px;
    border-left: 2px solid #7e7e80;

}
.messageArea {
    padding: 20px;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-X: hidden;
}
.messageForm{
    padding: 0 20px 10px;
    border-top: 2px solid #7e7e80;

}
.message{
    display: flex;
    justify-content: space-between;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #e7dada;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00b0ff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(198, 116, 231);
}
